<nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-primary mb-3">
    <div class="container">
        <span href="#" class="navbar-brand">Listes paramédicaux</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-nav"></button>
        <span class="navbar-toggle-icon"></span>
        <div class="collapse navbar-collapse" id="#mobile-nav">
            <ul class="navbar-nav ml-auto">
                <img id="hosp_logo" src="/img/hosp_logo.png" data-html="true" data-toggle="tooltip" data-placement="bottom" />
                <li class="nav-item button">
                    <a class="nav-link" href="#" id="navbarButton" role="button" data-toggle="modal" data-target="#configModal">
                        Configuration
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>